.container {
  width: 600px;
  height: 200px;
  border: 5px solid #333;
  margin: 30px auto;
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

/* .container::after {
  content: '';
  display: block;
  clear: both;
} */

.container div {
  width: 100px;
  height: 100px;
  background-color: rgb(16, 124, 124);
  margin: 2px;
}

.satu { order: 2; flex-grow: 3; align-self: flex-end;}
.dua { order: 4; flex-grow: 1; align-self: center;}
.tiga { order: 1; flex-grow: 1;}
.empat { order: 3; flex-grow: 1;}